* {
  font-family: "georgia";
  color: #4F6D7A;
  background: #E8DAB2;
  text-align: center;
  box-sizing: border-box;
}

h1 {

}

a:hover {
  color: #DD6E42;
  font-weight: bold;
}

hr {
  border: none;
  border-top: 4px double #DD6E42;
  color: #DD6E42;
  overflow: visible;
  text-align: center;
  height: 5px;
  width: 200px;
}

.nav {
  background-color: #E8DAB2;
  border: 2px solid #4F6D7A;
  display: inline-block;
  height: 50px;
  width: 100px;
  top: 40px;
}
.nav:hover {
  background-color: #DD6E42;
  color: #C0D6DF;
  font-weight: bold;
}
.jonah {
  height: 150px;
}
