* {
  font-family: "georgia";
  color: #4F6D7A;
  background: #E8DAB2;
  text-align: center;
}

h1 {

}

a:hover {
  color: #DD6E42;
  font-weight: bold;
}

hr {
  text-align: center;
  color: #DD6E42;
  height: 1px;
  width: 250px;
  border-top: 6px double #DD6E42;
  border: 0;
}
